# .gitignore file
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
# Ignore Terraform plan files
*.tfplan
tfplan
# Ignore Terraform variables files with senstive data
terraform.tfvars
# Ignore local .terraform directory
.terraform/
# Ignore Terraform lock files
.terraform.lock.hcl

# remove after finalizing:
# remove from .gitignore after finalizing:
docs/
PROJECT_DELIVERABLES.md
